# Demonstration of the Metrics To-Date

For a complete list of metrics and their documentation, please see the API Metrics [documentation](../API/simulation_api.md#metrics-computation).

This demonstration will rely on the results produced in the "How To" notebook.

In [1]:
from pprint import pprint
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from wombat.core import Simulation
from wombat.core import Metrics

%matplotlib inline
pd.set_option("display.float_format", '{:,.2f}'.format)
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 1000)

## Setup

The simulations from the How To notebook are going to be rerun as it is not recommended to create a Metrics class from scratch due to the
large number of inputs that are required and the initialization is provided in the simulation API's run method.

In [2]:
simulation_name = "example_dinwoodie"
library_path = Path("../../../../wombat/library/dinwoodie/").resolve()

sim = Simulation(simulation_name, library_path, "base.yaml")
sim.run()

# For convenience only
metrics = sim.metrics

## Availability

There are two methods to produce availability, which have their own function calls:
 - energy: `production_based_availability`
 - time: `time_based_availability`

Here, we will go through the various input definitions to get time-based availability data as both methods use the same inputs, and provide outputs in the same format.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by` options:
 - windfarm: computed across all turbines
 - turbine: computed for each turbine

In [3]:
# Project total at the whole windfarm level
total = metrics.time_based_availability(frequency="project", by="windfarm")
print(f"Project total: {total * 100:.1f}%")

Project total: 95.5%

In [4]:
# Project total at the turbine level
metrics.time_based_availability(frequency="project", by="turbine")

,S00T1,S00T2,S00T3,S00T4,S00T5,S00T6,S00T7,S00T8,S00T9,S00T10,S00T11,S00T12,S00T13,S00T14,S00T15,S00T16,S00T17,S00T18,S00T19,S00T20,S00T21,S00T22,S00T23,S00T24,S00T25,S00T26,S00T27,S00T28,S00T29,S00T30,S00T31,S00T32,S00T33,S00T34,S00T35,S00T36,S00T37,S00T38,S00T39,S00T40,S00T41,S00T42,S00T43,S00T44,S00T45,S00T46,S00T47,S00T48,S00T49,S00T50,S00T51,S00T52,S00T53,S00T54,S00T55,S00T56,S00T57,S00T58,S00T59,S00T60,S00T61,S00T62,S00T63,S00T64,S00T65,S00T66,S00T67,S00T68,S00T69,S00T70,S00T71,S00T72,S00T73,S00T74,S00T75,S00T76,S00T77,S00T78,S00T79,S00T80
0,0.82,0.96,0.97,0.89,0.88,0.94,0.97,0.93,0.98,0.97,0.93,0.97,0.97,0.96,0.93,0.98,0.96,0.98,0.94,0.98,0.98,0.97,0.98,0.97,0.93,0.98,0.88,0.95,0.97,0.98,0.90,0.95,0.97,0.95,0.98,0.98,0.97,0.98,0.98,0.96,0.97,0.97,0.98,0.97,0.98,0.96,0.98,0.98,0.98,0.90,0.98,0.98,0.95,0.95,0.96,0.98,0.93,0.96,0.90,0.98,0.98,0.97,0.98,0.89,0.98,0.94,0.98,0.95,0.98,0.98,0.98,0.89,0.95,0.93,0.95,0.92,0.93,0.98,0.97,0.94

In [5]:
# Project annual totals at the windfarm level
metrics.time_based_availability(frequency="annual", by="windfarm")

   year  windfarm
0  2003      0.97
1  2004      0.95
2  2005      0.96
3  2006      0.95
4  2007      0.96
5  2008      0.96
6  2009      0.95
7  2010      0.95
8  2011      0.95
9  2012      0.96

In [6]:
# Project monthly totals at the windfarm level
metrics.time_based_availability(frequency="monthly", by="windfarm")

    month  windfarm
0       1      0.95
1       2      0.95
2       3      0.94
3       4      0.94
4       5      0.95
5       6      0.95
6       7      0.96
7       8      0.97
8       9      0.97
9      10      0.97
10     11      0.96
11     12      0.95

In [7]:
# Project month-by-year totals at the windfarm level
# NOTE: This is limited to the first two years for cleanliness of the notebook
metrics.time_based_availability(frequency="month-year", by="windfarm").head(24)

    year  month  windfarm
0   2003      1      0.99
1   2003      2      0.98
2   2003      3      0.98
3   2003      4      0.97
4   2003      5      0.98
5   2003      6      0.97
6   2003      7      0.97
7   2003      8      0.99
8   2003      9      0.98
9   2003     10      0.96
10  2003     11      0.95
11  2003     12      0.94
12  2004      1      0.93
13  2004      2      0.93
14  2004      3      0.95
15  2004      4      0.93
16  2004      5      0.93
17  2004      6      0.92
18  2004      7      0.95
19  2004      8      0.96
20  2004      9      0.97
21  2004     10      0.98
22  2004     11      0.98
23  2004     12      0.97

## Capacity Factor

Here, we will go through the various input definitions to get capacity factor data. The inputs are very similar to that of the availability calculation.

`which` options:
 - net: net capcity factor, actual production
 - gross: gross capacity factor, potential production

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by` options:
 - windfarm: computed across all turbines
 - turbine: computed for each turbine

In [8]:
# Project total at the whole windfarm level
cf = metrics.capacity_factor(which="net", frequency="project", by="windfarm")
print(f"  Net Capacity Factor: {cf:.2f}%")

cf = metrics.capacity_factor(which="gross", frequency="project", by="windfarm")
print(f"Gross Capacity Factor: {cf:.2f}%")

  Net Capacity Factor: 0.45%
Gross Capacity Factor: 0.48%

In [9]:
# Project total at the turbine level
metrics.capacity_factor(which="net", frequency="project", by="turbine")

,S00T1,S00T2,S00T3,S00T4,S00T5,S00T6,S00T7,S00T8,S00T9,S00T10,S00T11,S00T12,S00T13,S00T14,S00T15,S00T16,S00T17,S00T18,S00T19,S00T20,S00T21,S00T22,S00T23,S00T24,S00T25,S00T26,S00T27,S00T28,S00T29,S00T30,S00T31,S00T32,S00T33,S00T34,S00T35,S00T36,S00T37,S00T38,S00T39,S00T40,S00T41,S00T42,S00T43,S00T44,S00T45,S00T46,S00T47,S00T48,S00T49,S00T50,S00T51,S00T52,S00T53,S00T54,S00T55,S00T56,S00T57,S00T58,S00T59,S00T60,S00T61,S00T62,S00T63,S00T64,S00T65,S00T66,S00T67,S00T68,S00T69,S00T70,S00T71,S00T72,S00T73,S00T74,S00T75,S00T76,S00T77,S00T78,S00T79,S00T80
0,0.39,0.46,0.46,0.42,0.42,0.45,0.46,0.44,0.47,0.46,0.44,0.46,0.46,0.46,0.44,0.46,0.46,0.47,0.44,0.47,0.47,0.47,0.46,0.46,0.44,0.47,0.42,0.45,0.46,0.47,0.44,0.45,0.46,0.46,0.46,0.47,0.46,0.47,0.47,0.46,0.46,0.46,0.47,0.46,0.47,0.46,0.47,0.47,0.47,0.43,0.47,0.47,0.46,0.46,0.46,0.47,0.44,0.46,0.43,0.46,0.46,0.46,0.47,0.42,0.47,0.45,0.47,0.45,0.46,0.46,0.47,0.42,0.46,0.44,0.46,0.43,0.44,0.47,0.46,0.45

In [10]:
# Project annual totals at the windfarm level
metrics.capacity_factor(which="net", frequency="annual", by="windfarm")

      windfarm
year
2003      0.41
2004      0.44
2005      0.47
2006      0.44
2007      0.49
2008      0.50
2009      0.45
2010      0.40
2011      0.48
2012      0.47

In [11]:
# Project monthly totals at the windfarm level
metrics.capacity_factor(which="net", frequency="monthly", by="windfarm")

       windfarm
month
1          0.60
2          0.49
3          0.49
4          0.40
5          0.38
6          0.32
7          0.33
8          0.36
9          0.46
10         0.51
11         0.56
12         0.55

In [12]:
# Project month-by-year totals at the windfarm level
# NOTE: This is limited to the first two years for cleanliness of the notebook
metrics.capacity_factor(which="net", frequency="month-year", by="windfarm").head(24)

            windfarm
year month
2003 1          0.62
     2          0.36
     3          0.37
     4          0.52
     5          0.35
     6          0.31
     7          0.30
     8          0.30
     9          0.27
     10         0.42
     11         0.53
     12         0.53
2004 1          0.52
     2          0.49
     3          0.50
     4          0.38
     5          0.28
     6          0.36
     7          0.26
     8          0.40
     9          0.58
     10         0.56
     11         0.49
     12         0.49

## Task Completion Rate

Here, we will go through the various input definitions to get the task completion rates. The inputs are very similar to that of the availability calculation.

`which` options:
 - scheduled: scheduled maintenance only (classified as maintenace tasks in inputs)
 - unscheduled: unscheduled maintenance only (classified as failure events in inputs)
 - both: 

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis

In [13]:
# Project total at the whole windfarm level
total = metrics.task_completion_rate(which="scheduled", frequency="project")
print(f"  Scheduled Task Completion Rate: {total * 100:.0f}%")

total = metrics.task_completion_rate(which="unscheduled", frequency="project")
print(f"Unscheduled Task Completion Rate: {total * 100:.0f}%")

total = metrics.task_completion_rate(which="both", frequency="project")
print(f"    Overall Task Completion Rate: {total * 100:.0f}%")

  Scheduled Task Completion Rate: 100%
Unscheduled Task Completion Rate: 100%
    Overall Task Completion Rate: 100%

In [14]:
# Project annual totals at the windfarm level
metrics.task_completion_rate(which="both", frequency="annual")

   year  Completion Rate
0  2003             0.97
1  2004             1.03
2  2005             0.99
3  2006             1.01
4  2007             1.00
5  2008             1.00
6  2009             0.99
7  2010             1.01
8  2011             0.99
9  2012             1.01

In [15]:
# Project monthly totals at the windfarm level
metrics.task_completion_rate(which="both", frequency="monthly")

    year  Completion Rate
0      1             0.99
1      2             1.02
2      3             0.99
3      4             1.00
4      5             1.03
5      6             1.00
6      7             1.03
7      8             1.01
8      9             1.00
9     10             0.99
10    11             0.98
11    12             0.98

In [16]:
# Project month-by-year totals at the windfarm level
# NOTE: This is limited to the first two years for cleanliness of the notebook
metrics.task_completion_rate(which="both", frequency="month-year").head(24)

    year  month  Completion Rate
0   2003      1             0.87
1   2003      2             1.09
2   2003      3             0.93
3   2003      4             1.00
4   2003      5             1.04
5   2003      6             1.02
6   2003      7             1.07
7   2003      8             0.96
8   2003      9             1.00
9   2003     10             0.89
10  2003     11             0.93
11  2003     12             0.87
12  2004      1             1.06
13  2004      2             1.09
14  2004      3             1.16
15  2004      4             0.95
16  2004      5             1.02
17  2004      6             1.03
18  2004      7             1.05
19  2004      8             1.03
20  2004      9             0.99
21  2004     10             1.01
22  2004     11             1.00
23  2004     12             0.97

## Equipment Costs

Here, we will go through the various input definitions to get the equipment cost data.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by_equipment` options:
 - `True`: computed across all equipment used
 - `False`: computed for each piece of equipment

In [17]:
# Project total at the whole windfarm level
total = metrics.equipment_costs(frequency="project", by_equipment=False)
print(f"Project total: ${total / metrics.project_capacity:,.2f}/MW")

Project total: $479,045.96/MW

In [18]:
# Project totals at the equipment level
metrics.equipment_costs(frequency="project", by_equipment=True)

,Crew Transfer Vessel 1,Crew Transfer Vessel 2,Crew Transfer Vessel 3,Field Support Vessel,Heavy Lift Vessel
0,"6,393,260.42","6,393,260.42","6,393,260.42","2,660,000.00","93,131,250.00"

In [19]:
# Project annual totals at the windfarm level
metrics.equipment_costs(frequency="annual", by_equipment=False)

   year  equipment_cost
0  2003   11,071,281.25
1  2004   11,037,500.00
2  2005   11,182,250.00
3  2006   11,319,750.00
4  2007   11,207,250.00
5  2008   10,793,750.00
6  2009   12,138,500.00
7  2010   12,082,250.00
8  2011   11,401,000.00
9  2012   12,737,500.00

In [20]:
# Project monthly totals at the equipment level
metrics.equipment_costs(frequency="monthly", by_equipment=True)

,month,Crew Transfer Vessel 1,Crew Transfer Vessel 2,Crew Transfer Vessel 3,Field Support Vessel,Heavy Lift Vessel
0,1,"543,010.42","543,010.42","543,010.42",0.00,0.00
1,2,"495,250.00","495,250.00","495,250.00",0.00,0.00
2,3,"542,500.00","542,500.00","542,500.00",0.00,0.00
3,4,"525,000.00","525,000.00","525,000.00",0.00,0.00
4,5,"542,500.00","542,500.00","542,500.00",0.00,"32,443,750.00"
5,6,"525,000.00","525,000.00","525,000.00","2,660,000.00",0.00
6,7,"542,500.00","542,500.00","542,500.00",0.00,"31,400,000.00"
7,8,"542,500.00","542,500.00","542,500.00",0.00,0.00
8,9,"525,000.00","525,000.00","525,000.00",0.00,"29,287,500.00"
9,10,"542,500.00","542,500.00","542,500.00",0.00,0.00
10,11,"525,000.00","525,000.00","525,000.00",0.00,0.00
11,12,"542,500.00","542,500.00","542,500.00",0.00,0.00

In [21]:
# Project month-by-year totals at the equipment level
# NOTE: This is limited to the two years only
metrics.equipment_costs(frequency="month-year", by_equipment=True).head(24)

,year,month,Crew Transfer Vessel 1,Crew Transfer Vessel 2,Crew Transfer Vessel 3,Field Support Vessel,Heavy Lift Vessel
0,2003,1,"54,760.42","54,760.42","54,760.42",0.00,0.00
1,2003,2,"49,000.00","49,000.00","49,000.00",0.00,0.00
2,2003,3,"54,250.00","54,250.00","54,250.00",0.00,0.00
3,2003,4,"52,500.00","52,500.00","52,500.00",0.00,0.00
4,2003,5,"54,250.00","54,250.00","54,250.00",0.00,"2,750,000.00"
5,2003,6,"52,500.00","52,500.00","52,500.00","266,000.00",0.00
6,2003,7,"54,250.00","54,250.00","54,250.00",0.00,"3,387,500.00"
7,2003,8,"54,250.00","54,250.00","54,250.00",0.00,0.00
8,2003,9,"52,500.00","52,500.00","52,500.00",0.00,"2,750,000.00"
9,2003,10,"54,250.00","54,250.00","54,250.00",0.00,0.00
10,2003,11,"52,500.00","52,500.00","52,500.00",0.00,0.00
11,2003,12,"54,250.00","54,250.00","54,250.00",0.00,0.00
12,2004,1,"54,250.00","54,250.00","54,250.00",0.00,0.00
13,2004,2,"50,750.00","50,750.00","50,750.00",0.00,0.00
14,2004,3,"54,250.00","54,250.00","54,250.00",0.00,0.00
15,2004,4,"52,500.00","52,500.00","52,500.00",0.00,0.00
16,2004,5,"54,250.00","54,250.00","54,250.00",0.00,"2,750,000.00"
17,2004,6,"52,500.00","52,500.00","52,500.00","266,000.00",0.00
18,2004,7,"54,250.00","54,250.00","54,250.00",0.00,"3,350,000.00"
19,2004,8,"54,250.00","54,250.00","54,250.00",0.00,0.00
20,2004,9,"52,500.00","52,500.00","52,500.00",0.00,"2,750,000.00"
21,2004,10,"54,250.00","54,250.00","54,250.00",0.00,0.00
22,2004,11,"52,500.00","52,500.00","52,500.00",0.00,0.00
23,2004,12,"54,250.00","54,250.00","54,250.00",0.00,0.00

## Service Equipment Utilization Rate

Here, we will go through the various input definitions to get the service equipment utiliztion rates.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis

In [22]:
# Project totals at the project level
total = metrics.service_equipment_utilization(frequency="project")
total

,Crew Transfer Vessel 1,Crew Transfer Vessel 2,Crew Transfer Vessel 3,Field Support Vessel,Heavy Lift Vessel
0,0.48,0.48,0.46,0.23,0.80

In [23]:
# Annualized project totals
total = metrics.service_equipment_utilization(frequency="annual")
total

,Crew Transfer Vessel 1,Crew Transfer Vessel 2,Crew Transfer Vessel 3,Field Support Vessel,Heavy Lift Vessel
year,,,,,
2003,0.35,0.40,0.38,0.29,0.68
2004,0.63,0.63,0.63,0.29,0.78
2005,0.57,0.55,0.58,0.25,0.75
2006,0.45,0.43,0.48,0.46,1.00
2007,0.57,0.55,0.48,0.21,0.49
2008,0.47,0.49,0.52,0.14,0.48
2009,0.45,0.44,0.36,0.25,1.00
2010,0.41,0.45,0.41,0.14,0.97
2011,0.47,0.41,0.41,0.21,0.94
2012,0.40,0.40,0.40,0.03,0.83

## Labor Costs

Here, we will go through the various input definitions to get the labor cost data.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by_type` options:
 - `True`: computed across each labor type
 - `False`: computed for both labor types used

In [24]:
# Project total at the whole windfarm level
total = metrics.labor_costs(frequency="project", by_type=False)
print(f"Project total: ${total / metrics.project_capacity:,.2f}/MW")

Project total: $0.00/MW

In [25]:
# Project totals for each type of labor
# NOTE: Only salaried labor was defined for thesese analyses
metrics.labor_costs(frequency="project", by_type=True)

   hourly_labor_cost  salary_labor_cost  total_labor_cost
0               0.00               0.00              0.00

In [26]:
# Project annual totals for all labor
metrics.labor_costs(frequency="annual", by_type=False)

   year  total_labor_cost
0  2003              0.00
1  2004              0.00
2  2005              0.00
3  2006              0.00
4  2007              0.00
5  2008              0.00
6  2009              0.00
7  2010              0.00
8  2011              0.00
9  2012              0.00

In [27]:
# Project monthly totals for all labor
metrics.labor_costs(frequency="monthly", by_type=False)

    month  total_labor_cost
0       1              0.00
1       2              0.00
2       3              0.00
3       4              0.00
4       5              0.00
5       6              0.00
6       7              0.00
7       8              0.00
8       9              0.00
9      10              0.00
10     11              0.00
11     12              0.00

In [28]:
# Project month-by-year totals for all labor
# NOTE: This is limited to the first two years only
metrics.labor_costs(frequency="month-year", by_type=False).head(24)

    year  month  total_labor_cost
0   2003      1              0.00
1   2003      2              0.00
2   2003      3              0.00
3   2003      4              0.00
4   2003      5              0.00
5   2003      6              0.00
6   2003      7              0.00
7   2003      8              0.00
8   2003      9              0.00
9   2003     10              0.00
10  2003     11              0.00
11  2003     12              0.00
12  2004      1              0.00
13  2004      2              0.00
14  2004      3              0.00
15  2004      4              0.00
16  2004      5              0.00
17  2004      6              0.00
18  2004      7              0.00
19  2004      8              0.00
20  2004      9              0.00
21  2004     10              0.00
22  2004     11              0.00
23  2004     12              0.00

## Equipment and Labor Costs

Here, we will go through the various input definitions to get the equipment and labor cost data broken out by expense categories.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by_category` options:
 - `True`: computed across as equipment, plus each labor type, plus totals
 - `False`: computed as single total
 
##### **NOTE:** For this breakdown the expense category (reason) is distributed across the rows in addition to time.


`reason` definitions:
 - Maintenance: routine maintenance
 - Repair: unscheduled maintenance, ranging from inspections to replacements
 - Weather Delay: Any delays caused by unsafe weather conditions
 - No Requests: Equipment and labor is active, but there are no repairs or maintenance tasks to be completed
 - Not in Shift: Any time outside of the operating hours of the windfarm

In [29]:
# Project totals
metrics.equipment_labor_cost_breakdowns(frequency="project", by_category=False)

          reason    total_cost
0    Maintenance  2,259,687.50
1         Repair 23,532,187.50
2   Mobilization 15,000,000.00
3  Weather Delay 10,467,937.50
4    No Requests 26,603,802.08
5   Not in Shift 37,107,416.67

In [30]:
# Project totals by each category
metrics.equipment_labor_cost_breakdowns(frequency="project", by_category=True)

,reason,hourly_labor_cost,salary_labor_cost,total_labor_cost,equipment_cost,total_cost
0,Maintenance,0.00,0.00,0.00,"2,259,687.50","2,259,687.50"
1,Repair,0.00,0.00,0.00,"23,532,187.50","23,532,187.50"
2,Mobilization,0.00,0.00,0.00,"15,000,000.00","15,000,000.00"
3,Weather Delay,0.00,0.00,0.00,"10,467,937.50","10,467,937.50"
4,No Requests,0.00,0.00,0.00,"26,603,802.08","26,603,802.08"
5,Not in Shift,0.00,0.00,0.00,"37,107,416.67","37,107,416.67"

In [31]:
# Project annual totals
# NOTE: This is limited to the first two years
metrics.equipment_labor_cost_breakdowns(frequency="annual", by_category=False).head(10)

   year         reason   total_cost
0  2003    Maintenance   157,500.00
1  2003         Repair 1,939,677.08
2  2003   Mobilization 1,500,000.00
3  2003  Weather Delay   953,666.67
4  2003    No Requests 3,623,479.17
5  2003   Not in Shift 2,896,958.33
6  2004    Maintenance   328,125.00
7  2004         Repair 2,582,093.75
8  2004   Mobilization 1,500,000.00
9  2004  Weather Delay   696,333.33

In [32]:
# Project monthly totals
# NOTE: This is limited to the first two years
metrics.equipment_labor_cost_breakdowns(frequency="monthly", by_category=False).head(10)

   month         reason  total_cost
0      1    Maintenance  227,062.50
1      1         Repair  242,229.17
2      1   Mobilization        0.00
3      1  Weather Delay  110,250.00
4      1    No Requests  507,937.50
5      1   Not in Shift  541,552.08
6      2    Maintenance  187,760.42
7      2         Repair  224,291.67
8      2   Mobilization        0.00
9      2  Weather Delay   73,208.33

In [33]:
# Project month-by-year totals
# NOTE: This is limited to the first two years
metrics.equipment_labor_cost_breakdowns(frequency="month-year", by_category=False).head(20)

    year  month         reason  total_cost
0   2003      1    Maintenance        0.00
1   2003      1         Repair   22,093.75
2   2003      1   Mobilization        0.00
3   2003      1  Weather Delay   10,062.50
4   2003      1    No Requests  102,958.33
5   2003      1   Not in Shift   29,166.67
6   2003      2    Maintenance        0.00
7   2003      2         Repair   24,937.50
8   2003      2   Mobilization        0.00
9   2003      2  Weather Delay    2,406.25
10  2003      2    No Requests  105,656.25
11  2003      2   Not in Shift   14,000.00
12  2003      3    Maintenance        0.00
13  2003      3         Repair   23,697.92
14  2003      3   Mobilization        0.00
15  2003      3  Weather Delay    4,229.17
16  2003      3    No Requests  122,500.00
17  2003      3   Not in Shift   12,322.92
18  2003      4    Maintenance        0.00
19  2003      4         Repair   26,906.25

## Component

Here, we will go through the various input definitions to get the component cost data broken out by various categories.

**NOTE**: It should be noted that the the component costs will not sum up to the whole project operations costs because of delays that are not associated with any repair or maintenance task, such as no requests needing to be processed.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by_category` options:
 - `True`: computed across each cost category (includes total)
 - `False`: computed as single total
 
 `by_action` options:
 - `True`: computed by each of "repair", "maintenance", and "delay"
 - `False`: computed as single total
 
##### **NOTE:** For this breakdown the expense category (reason) is distributed across the rows in addition to time.


`action` definitions:
 - maintenance: routine maintenance
 - repair: unscheduled maintenance, ranging from inspections to replacements
 - delay: Any delays caused by unsafe weather conditions or not being able to finish a process within a single shift

In [34]:
# Project totals by component
metrics.component_costs(frequency="project", by_category=False, by_action=False)

               component     total_cost
0                  cable           0.00
1            drive_train           0.00
2      electrical_system           0.00
3     electronic_control           0.00
4                gearbox           0.00
5              generator 112,661,697.92
6       hydraulic_system           0.00
7       mechanical_brake           0.00
8           rotor_blades           0.00
9              rotor_hub           0.00
10               sensors           0.00
11  supporting_structure           0.00
12           transformer           0.00
13            yaw_system           0.00

In [35]:
# Project totals by each category and action type
metrics.component_costs(frequency="project", by_category=True, by_action=True)

,component,action,materials_cost,total_labor_cost,equipment_cost,total_cost
0,generator,delay,0,0.00,"47,573,822.92","47,573,822.92"
1,generator,maintenance,0,0.00,"2,259,687.50","2,259,687.50"
2,generator,repair,0,0.00,"23,532,187.50","23,532,187.50"

In [36]:
# Project annual totals by category
# NOTE: This is limited to the first two years
metrics.component_costs(frequency="annual", by_category=True, by_action=False).head(28)

,year,component,materials_cost,total_labor_cost,equipment_cost,total_cost
0,2003,cable,0.00,0.00,0.00,0.00
1,2003,drive_train,0.00,0.00,0.00,0.00
2,2003,electrical_system,0.00,0.00,0.00,0.00
3,2003,electronic_control,0.00,0.00,0.00,0.00
4,2003,gearbox,0.00,0.00,0.00,0.00
5,2003,generator,"3,301,000.00",0.00,"5,946,270.83","9,247,270.83"
6,2003,hydraulic_system,0.00,0.00,0.00,0.00
7,2003,mechanical_brake,0.00,0.00,0.00,0.00
8,2003,rotor_blades,0.00,0.00,0.00,0.00
9,2003,rotor_hub,0.00,0.00,0.00,0.00
10,2003,sensors,0.00,0.00,0.00,0.00
11,2003,supporting_structure,0.00,0.00,0.00,0.00
12,2003,transformer,0.00,0.00,0.00,0.00
13,2003,yaw_system,0.00,0.00,0.00,0.00
14,2004,cable,0.00,0.00,0.00,0.00
15,2004,drive_train,0.00,0.00,0.00,0.00
16,2004,electrical_system,0.00,0.00,0.00,0.00
17,2004,electronic_control,0.00,0.00,0.00,0.00
18,2004,gearbox,0.00,0.00,0.00,0.00
19,2004,generator,"4,721,000.00",0.00,"7,130,708.33","11,851,708.33"
20,2004,hydraulic_system,0.00,0.00,0.00,0.00
21,2004,mechanical_brake,0.00,0.00,0.00,0.00
22,2004,rotor_blades,0.00,0.00,0.00,0.00
23,2004,rotor_hub,0.00,0.00,0.00,0.00
24,2004,sensors,0.00,0.00,0.00,0.00
25,2004,supporting_structure,0.00,0.00,0.00,0.00
26,2004,transformer,0.00,0.00,0.00,0.00
27,2004,yaw_system,0.00,0.00,0.00,0.00

In [37]:
# Project monthly totals
# NOTE: This is limited to the first two months
metrics.component_costs(frequency="monthly", by_category=True, by_action=False).head(28)

,month,component,materials_cost,total_labor_cost,equipment_cost,total_cost
0,1,cable,0.00,0.00,0.00,0.00
1,1,drive_train,0.00,0.00,0.00,0.00
2,1,electrical_system,0.00,0.00,0.00,0.00
3,1,electronic_control,0.00,0.00,0.00,0.00
4,1,gearbox,0.00,0.00,0.00,0.00
5,1,generator,"1,572,500.00",0.00,"1,119,562.50","2,692,062.50"
6,1,hydraulic_system,0.00,0.00,0.00,0.00
7,1,mechanical_brake,0.00,0.00,0.00,0.00
8,1,rotor_blades,0.00,0.00,0.00,0.00
9,1,rotor_hub,0.00,0.00,0.00,0.00
10,1,sensors,0.00,0.00,0.00,0.00
11,1,supporting_structure,0.00,0.00,0.00,0.00
12,1,transformer,0.00,0.00,0.00,0.00
13,1,yaw_system,0.00,0.00,0.00,0.00
14,2,cable,0.00,0.00,0.00,0.00
15,2,drive_train,0.00,0.00,0.00,0.00
16,2,electrical_system,0.00,0.00,0.00,0.00
17,2,electronic_control,0.00,0.00,0.00,0.00
18,2,gearbox,0.00,0.00,0.00,0.00
19,2,generator,"1,327,500.00",0.00,"916,343.75","2,243,843.75"
20,2,hydraulic_system,0.00,0.00,0.00,0.00
21,2,mechanical_brake,0.00,0.00,0.00,0.00
22,2,rotor_blades,0.00,0.00,0.00,0.00
23,2,rotor_hub,0.00,0.00,0.00,0.00
24,2,sensors,0.00,0.00,0.00,0.00
25,2,supporting_structure,0.00,0.00,0.00,0.00
26,2,transformer,0.00,0.00,0.00,0.00
27,2,yaw_system,0.00,0.00,0.00,0.00

In [38]:
# Project month-by-year totals
# NOTE: This is limited to the first two months
metrics.component_costs(frequency="month-year", by_category=True, by_action=False).head(28)

,year,month,component,materials_cost,total_labor_cost,equipment_cost,total_cost
0,2003,1,cable,0.00,0.00,0.00,0.00
1,2003,1,drive_train,0.00,0.00,0.00,0.00
2,2003,1,electrical_system,0.00,0.00,0.00,0.00
3,2003,1,electronic_control,0.00,0.00,0.00,0.00
4,2003,1,gearbox,0.00,0.00,0.00,0.00
5,2003,1,generator,"52,000.00",0.00,"59,791.67","111,791.67"
6,2003,1,hydraulic_system,0.00,0.00,0.00,0.00
7,2003,1,mechanical_brake,0.00,0.00,0.00,0.00
8,2003,1,rotor_blades,0.00,0.00,0.00,0.00
9,2003,1,rotor_hub,0.00,0.00,0.00,0.00
10,2003,1,sensors,0.00,0.00,0.00,0.00
11,2003,1,supporting_structure,0.00,0.00,0.00,0.00
12,2003,1,transformer,0.00,0.00,0.00,0.00
13,2003,1,yaw_system,0.00,0.00,0.00,0.00
14,2003,2,cable,0.00,0.00,0.00,0.00
15,2003,2,drive_train,0.00,0.00,0.00,0.00
16,2003,2,electrical_system,0.00,0.00,0.00,0.00
17,2003,2,electronic_control,0.00,0.00,0.00,0.00
18,2003,2,gearbox,0.00,0.00,0.00,0.00
19,2003,2,generator,"74,500.00",0.00,"41,343.75","115,843.75"
20,2003,2,hydraulic_system,0.00,0.00,0.00,0.00
21,2003,2,mechanical_brake,0.00,0.00,0.00,0.00
22,2003,2,rotor_blades,0.00,0.00,0.00,0.00
23,2003,2,rotor_hub,0.00,0.00,0.00,0.00
24,2003,2,sensors,0.00,0.00,0.00,0.00
25,2003,2,supporting_structure,0.00,0.00,0.00,0.00
26,2003,2,transformer,0.00,0.00,0.00,0.00
27,2003,2,yaw_system,0.00,0.00,0.00,0.00

## Fixed Cost Impacts

Here, we will go through the various input definitions to get the fixed cost data

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 
`resolution` options:
 - high: computed across the lowest itemized cost levels
 - medium: computed across overarching cost levels
 - low: computed as single total

In [39]:
# The resolution hierarchy for fixed costs
pprint(metrics.fixed_costs.hierarchy)

{'operations': {'annual_leases_fees': ['submerge_land_lease_costs',
                                       'transmission_charges_rights'],
                'environmental_health_safety_monitoring': [],
                'insurance': ['brokers_fee',
                              'operations_all_risk',
                              'business_interruption',
                              'third_party_liability',
                              'storm_coverage'],
                'labor': [],
                'onshore_electrical_maintenance': [],
                'operating_facilities': [],
                'operations_management_administration': ['project_management_administration',
                                                         'marine_management',
                                                         'weather_forecasting',
                                                         'condition_monitoring']}}

In [40]:
# Project totals at the highest level
metrics.project_fixed_costs(frequency="project", resolution="low")

     operations
0 16,000,080.00

In [41]:
# Project totals at the medium level
metrics.project_fixed_costs(frequency="project", resolution="medium")

,operations_management_administration,insurance,annual_leases_fees,operating_facilities,environmental_health_safety_monitoring,onshore_electrical_maintenance,labor
0,0.00,0.00,0.00,0.00,0.00,0.00,"16,000,080.00"

In [42]:
# Project totals at the lowest level
metrics.project_fixed_costs(frequency="project", resolution="high")

,project_management_administration,marine_management,weather_forecasting,condition_monitoring,brokers_fee,operations_all_risk,business_interruption,third_party_liability,storm_coverage,submerge_land_lease_costs,transmission_charges_rights,operating_facilities,environmental_health_safety_monitoring,onshore_electrical_maintenance,labor
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,"16,000,080.00"

In [43]:
# Project annualized totals at the medium level
metrics.project_fixed_costs(frequency="annual", resolution="medium")

,year,operations_management_administration,insurance,annual_leases_fees,operating_facilities,environmental_health_safety_monitoring,onshore_electrical_maintenance,labor
0,2003,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
1,2004,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
2,2005,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
3,2006,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
4,2007,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
5,2008,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
6,2009,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
7,2010,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
8,2011,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"
9,2012,0.00,0.00,0.00,0.00,0.00,0.00,"1,600,008.00"

## Process Times

There are no inputs for the process timing as it is a slow calculation, so aggregation is left to the user for now. The results corresond to the number of hours required to complete any of the repair or maintenance activities.

In [44]:
# Project totals at the project level
total = metrics.process_times()
total

                   time_to_completion  process_time   downtime        N
category
annual service             101,818.00     68,195.00  64,317.00   517.00
major repair               113,382.16      1,568.00   1,424.00    29.00
major replacement          177,595.80      9,978.00 177,058.80    64.00
manual reset               167,797.51     34,177.00  12,908.00 5,654.00
medium repair               13,052.64     10,432.00   8,461.00   232.00
minor repair                61,261.90     29,585.00  17,260.00 2,254.00

## Power Production

Here, we will go through the various input definitions to get the power production data.

`frequency` options:
 - project: computed across the whole simulation
 - annual: computed on a yearly basis
 - monthly: computed across years on a monthly basis
 - month-year: computed on a month-by-year basis
 
`by_turbine` options:
 - `True`: computed for each turbines
 - `False`: computed for the whole windfarm

In [45]:
# Project total at the whole windfarm level
total = metrics.power_production(frequency="project", by_turbine=False)
total

                                        windfarm
Project Energy Production (kWh) 9,570,481,049.50

In [46]:
# Project totals at the turbine level
metrics.power_production(frequency="project", by_turbine=True)

,windfarm,S00T1,S00T2,S00T3,S00T4,S00T5,S00T6,S00T7,S00T8,S00T9,S00T10,S00T11,S00T12,S00T13,S00T14,S00T15,S00T16,S00T17,S00T18,S00T19,S00T20,S00T21,S00T22,S00T23,S00T24,S00T25,S00T26,S00T27,S00T28,S00T29,S00T30,S00T31,S00T32,S00T33,S00T34,S00T35,S00T36,S00T37,S00T38,S00T39,S00T40,S00T41,S00T42,S00T43,S00T44,S00T45,S00T46,S00T47,S00T48,S00T49,S00T50,S00T51,S00T52,S00T53,S00T54,S00T55,S00T56,S00T57,S00T58,S00T59,S00T60,S00T61,S00T62,S00T63,S00T64,S00T65,S00T66,S00T67,S00T68,S00T69,S00T70,S00T71,S00T72,S00T73,S00T74,S00T75,S00T76,S00T77,S00T78,S00T79,S00T80
Project Energy Production (kWh),"9,570,481,049.50","101,724,613.00","120,301,463.50","122,014,642.00","111,340,691.50","109,576,192.00","118,011,031.50","121,674,248.50","115,390,949.00","122,370,668.50","121,384,023.00","115,155,490.00","121,913,401.00","121,965,660.50","120,256,066.50","116,137,998.50","122,037,093.00","120,228,482.50","122,488,491.50","117,029,345.00","122,890,263.00","122,980,366.00","122,307,000.00","122,145,719.00","121,747,970.00","115,962,542.50","123,055,526.50","110,089,290.00","117,359,477.50","121,394,909.00","122,741,767.50","114,828,331.00","119,107,581.00","121,733,098.50","119,797,210.50","121,874,144.00","123,103,651.00","121,605,823.00","122,538,593.00","123,101,062.50","120,088,164.00","121,399,104.50","121,817,198.50","122,658,903.00","121,056,192.00","122,318,346.00","121,354,448.00","122,441,238.00","122,550,732.50","122,728,039.00","111,806,352.00","122,828,276.50","122,493,534.50","119,902,047.50","120,544,211.50","121,072,522.00","122,599,602.50","116,500,070.00","121,133,248.50","112,256,468.50","121,777,906.50","121,791,021.50","122,283,981.50","122,677,932.00","111,062,153.00","122,421,185.50","117,303,344.00","122,394,708.50","119,194,320.50","121,747,443.00","122,286,297.50","122,750,908.50","109,910,430.00","119,675,583.50","116,211,214.00","120,189,977.50","114,135,741.00","116,941,726.00","123,065,320.50","122,294,936.00","119,451,343.50"

In [47]:
# Project annual totals for the windfarm
metrics.power_production(frequency="annual", by_turbine=False)

             windfarm
year
2003   856,372,593.50
2004   932,283,212.50
2005   979,289,081.50
2006   931,927,652.50
2007 1,024,982,580.00
2008 1,057,706,751.00
2009   942,574,071.00
2010   849,418,362.00
2011 1,006,017,507.50
2012   989,909,238.00

In [48]:
# Project monthly totals for the windfarm
metrics.power_production(frequency="monthly", by_turbine=False)

              windfarm
month
1     1,062,512,020.00
2       805,902,307.50
3       883,197,579.00
4       692,436,809.50
5       680,791,196.50
6       548,173,302.50
7       586,324,873.50
8       644,095,275.00
9       799,285,064.00
10      916,765,230.00
11      972,283,514.50
12      978,713,877.50

In [49]:
# Project month-by-year totals for the windfarm
# NOTE: This is limited to the first two years only
metrics.power_production(frequency="month-year", by_turbine=False).head(24)

                 windfarm
year month
2003 1     111,185,667.00
     2      58,546,780.00
     3      66,790,755.50
     4      90,437,278.00
     5      61,620,609.50
     6      52,835,431.00
     7      52,688,682.00
     8      53,335,507.50
     9      47,381,499.00
     10     75,274,139.50
     11     91,792,420.00
     12     94,483,824.50
2004 1      93,312,570.00
     2      81,761,579.00
     3      89,001,458.00
     4      64,829,515.00
     5      50,336,310.00
     6      62,336,356.50
     7      47,097,954.50
     8      72,157,490.50
     9      99,671,764.50
     10    100,538,730.50
     11     83,932,908.50
     12     87,306,575.50

## PySAM-Powered Results

For a number of project financial metrics, the PySAM library is utilized.

<div class="alert alert-block alert-warning">
<b>NOTE:</b> A PySAM file needs to be defined in your library's windfarm directory. This part of the analysis is highly dependent on the inputs provided, and there is not a validated input data sheet used, this is merely a functionality demonstration.
</div>

With the above warning in mind, the appropriate simulation outputs are provided as inputs to PySAM upon initialization to ensure all values are aligned.

### Net Present Value (NPV)

In [50]:
npv = metrics.pysam_npv()
print(f"NPV: ${npv:,.0f}")

NPV: $33,477,307

### Real Levelized Cost of Energy (LCOE)

In [51]:
lcoe = metrics.pysam_lcoe_real()
print(f"Real LCOE: ${lcoe:,.2f}/kW")

NPV: $-0

### Nominal Levelized Cost of Energy (LCOE)

In [52]:
lcoe = metrics.pysam_lcoe_nominal()
print(f"Nominal LCOE: ${lcoe:,.2f}/kW")

NPV: $-0

### After-tax Internal Return Rate (IRR)

In [53]:
npv = metrics.pysam_irr()
print(f"IRR: {npv:,.1f}%")

NPV: $15

### One Data Frame to Rule Them All

In [54]:
metrics.pysam_all_outputs()

                            Value
Metric
After Tax NPV ($)   33,477,307.28
Nominal LCOE ($/kW)         -0.01
Real LCOE ($/kW)            -0.00
After Tax IRR (%)           14.55

In [55]:
sim.env.cleanup_log_files(log_only=False)